body {
  background-color: cadetblue;
}
.container {
  font-weight: bold;
}
.container-links a {
  color: rgb(115, 0, 255);
}
.lasagna-container,
.container,
.gabagool-container,
.krabby-container {
  font-family: "Courier New", Courier, monospace;
}
.container-links li {
  display: inline;
  padding: 5px;
}

h1 {
  color: black;
  font-size: 50px;
}

.krabby,
.return,
.gabagool,
.title-lasagna,
.container-links ul,
.container {
  text-align: center;
}
